body{
	background: #d6e1fe;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background-image: url(../background.jpg);
	background-size: cover;
	background-attachment: fixed;
}
header{
	wdith: 100vw;
	height: 100vh;
	display: block;
}
header #right{
	width: 49vw;
	height: 100vh;
	display: inline-table;
	float: right;
}
header #left{
	width: 49vw;
	height: 100vh;
	display: inline-table;
	float: left;
}
header .align{
	width: 100%;
	height: auto;
	display: table-cell;
	vertical-align: middle;
}
#left-center{
	display: flex;
	width: 100%;
	height: auto;
	padding-top: 30px;
	padding-bottom: 30px;
}
#left-center h1{
	margin: auto;
	font-size: 13vh;
	background: rgb(61,9,121);
	background: linear-gradient(77deg, rgba(61,9,121,1) 0%, rgba(0,69,255,1) 100%);
	text-transform: uppercase;
	  -webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	font-family: 'Intro', sans-serif;
}
#left-center h1 p{
	font-size: 2vh;
	width: 100%;
	text-align: center;
	margin-top: -20px;
	background: rgba(34,34,34,1.00);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	font-weight: 600;
	color: rgba(34,34,34,1.00);
	
}
#right-center{
	display: flex;
	width: 100%;
	height: auto;
	padding-top: 30px;
	padding-bottom: 30px;
}
#right-center h1{
	display: block;
	margin: auto;
	font-size: 11vh;
	color: #9fb9fb;
}
.us{
	width: 98vw;
	height: 100vh;
	float: left;
}
.us .row{
	width: 320px;
	height: 100px;
	background: rgba(244,249,255,0.19);
	box-shadow: 0 0 30px 0px RGB(0,0,0,0.2);
	padding: 1%;
	border-radius: 10px;
	display: inline-block;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 40px;
}
.us .row .icon{
	width: 30%;
	height: 100%;
	display: inline-flex;
	float: left;
}
.us .row .icon i{
	margin: auto;
	font-size: 45px;
	color: #3c2bde;
}
.us .row .text{
	width: 69%;
	height: 100%;
	display: inline-flex;
	float: right;
	font-size: 10px;
}
.us .row .text h3{
	margin: auto;
}
.us .row .text h3 b{
	font-size: 17px;
	color: #1046f8;
	font-weight: 700;
	text-align: left;
	float: left;
}
.us .row .text h3 p{
	color: rgba(23,23,23,1.00);
	font-weight: 500;
	text-align: justify;
	display: block;
	width: 100%;
	float: left;
	margin-top: -1px;
}
#us-title{
	display: block;
	width: 100%;
	background: linear-gradient(77deg, rgba(61,9,121,1) 0%, rgba(0,69,255,1) 100%);
	text-transform: uppercase;
	  -webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	font-weight: 700;
	text-align: center;
	font-size: 60px;
	font-family: 'Intro', sans-serif;
}