body{
	background: black;
	color: #FFFFFF;
	font-family: 'Ubuntu Mono', monospace;
	overflow-x: hidden;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
header{
	width: 60vw;
	padding: 0vw 20vw;
	font-size: 0.7vw;
}
header h1,h2{
	display: inline-block;
}
header b{
	display: inline-block;
	float: right;
	font-size: 0.8vw;
}
#console{
	width: 60vw;
	padding: 0vw 20vw;
	font-size: 1.2vw;
	overflow-y: scroll;
	height: 80vh;
}
#separator{
	color: #D30D11;
}
#commandfield{
	width: 60vw;
	padding: 0vw 20vw;
	font-size: 1.2vw;
	display: block;
}
#forrm b,input{
	display: inline-block;
}
#command{
	width: 100%;
	background: black;
	border: none;
	color: white;
}
.green{
	color: #17D81B;
}
.logo{
	font-size: 0.4vw;
}
