	html,body{
		margin: 0;
		font-family: "Aeroport";
		overflow-x: hidden;
	}
	header{
		min-width: 80vw;
		height: 100vh;
		background: url("../images/background.jpg");
		background-size: cover;
		padding: 0vw 10vw;
	}

	header .left{
		display: inline-flex;
		float: left;
		width: 37vw;
		height: 100vh;
		color: white;
	}

	.left .align{
		display: block;
		min-width: 100%;
		margin: auto;
	}

	header .left h1{
		color: white;
		font-size: 2.4vw;
	}

	header .left h2{
		color: white;
		font-weight: 400;
		font-size: 1.8vw;
	}

	header .left p{
		color: white;
		font-weight: 200;
		margin-top: 2vw;
		font-size: 1.2vw;
		opacity: 0.8;
	}

	header .left .footer{
		margin-top: 4vw;
	}

	header .left .footer .button{
		padding: 0.8vw 1.8vw;
		background: #1F1F1F;
		color: white;
		border-radius: 0.4vw;
		font-size: 1.2vw;
		font-weight: 300;
		box-shadow: 0px 0.05vw 1.5vw rgba(0, 0, 0, 0.46);
		float: left;
		transition: 0.4s;
	}

	header .left .footer .button:hover{
		background: #292929;
	}

	header .left .footer .socials{
		float: left;
		margin-left: 2.2vw;
	}

	header .left .footer .socials a{
		display: inline-flex;
		width: 3.4vw;
		height: 3.4vw;
		background: rgba(255, 255, 255, 0.03);
		box-shadow: 0px 0px 1.5vw rgba(64, 116, 221, 0.47);
		border-radius: 0.4vw;
		transition: 0.4s;
	}
	header .left .footer .socials img{
		width: 1.8vw;
		height: 1.8vw;
		margin: auto;
	}

	header .left .footer .socials a:hover{
		background: rgba(255, 255, 255, 0.16);
	}

	header .right{
		display: inline-flex;
		float: right;
		width: 37vw;
		height: 100vh;
	}

	.right .align{
		display: block;
		width: 100%;
		margin: auto;
	}

	.right iframe{
		width: 37vw;
		height: 22vw;
	}
	.right p{
		color: white;
		font-size: 1.2vw;
		font-weight: 300;
	}
	h1,h2,h3,h4,h5,p,text,a{
		margin: 0;
		text-decoration: none;
		color: rgba(15,15,15,1.00);
	}


	.whyus{
		min-width: 80vw;
		height: auto;
		background-size: cover;
		padding: 15vw 10vw;
	}

	.whyus h2{
		font-size: 2.2vw;
		margin-top: 8.8vw;
	}
	.whyus .content{
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.whyus .content .row{
		width: 50%;
		height: 12vw;
		margin-top: 5.4vw;
	}
	.whyus .content .left{
		width: 20%;
		float: left;
	}

	.whyus .content .left b{
		font-size: 9.2vw;
		color: #7CA4F7;
		opacity: 0.3;
		align-content: flex-start;
	}

	.whyus .content .right h3{
		font-size: 1.4vw;
		color: #6396F7;
	}

	.whyus .content .right p{
		margin-top: 0.6vw;
		font-size: 1vw;
		color: #757575;
	}

	.whyus .content .right{
		width: 75%;
		padding-right: 5%;
		height: 100%;
		float: right;
		display: inline-flex;
	}
	.whyus .content .right .align{
		width: 100%;
		margin: auto;
	}



	.items{
		min-width: 80vw;
		height: auto;
		background-size: cover;
		display: flex;
		height: 52vw;
		flex-direction: row;
		padding: 10vw 0;
	}

	.items .row{
		width: 28vw;
		padding: 4vw 3vw;
		background: #FFFFFF;
		border: 1px solid #B5CDFB;
		box-sizing: border-box;
		border-radius: 12px;
		margin-left: auto;
		margin-right: auto;
		height: 50vw;
		display: flex;
		flex-direction: column;
	}

	.items .row h3{
		display: block;
		text-align: center;
		font-size: 2.2vw;
		width: 100%;
	}
	.items .row .price{
		display: block;
		width: 100%;
		text-align: center;
		font-size: 1.6vw;
		font-weight: 500;
		margin-top: 1vw;
	}
	.items .row .price .mini{
		font-size: 1.2vw;
	}
	.items .row .tag{
		min-width: 3vw;
		max-width: 5vw;
		margin-left: auto;
		margin-right: auto;
		padding: 0.5vw 0.6vw;
		text-align: center;
		color: #A3A3A3;
		align-items: center;
		background: rgba(20, 20, 20, 0.11);
		border-radius: 100vw;
		margin-top: 1vw;
	}
	.items .row .green-tag{
		min-width: 3vw;
		max-width: 8vw;
		margin-left: auto;
		margin-right: auto;
		padding: 0.5vw 0.6vw;
		text-align: center;
		color: #3C7A30;
		align-items: center;
		background: rgba(25,158,15,0.19);
		border-radius: 100vw;
		margin-top: 1vw;
	}
	.items .row .red-tag{
		min-width: 3vw;
		max-width: 5vw;
		margin-left: auto;
		margin-right: auto;
		padding: 0.5vw 0.6vw;
		text-align: center;
		color: #A3A3A3;
		align-items: center;
		background: rgba(20, 20, 20, 0.11);
		border-radius: 100vw;
		margin-top: 1vw;
	}
	.items .row .tag img{
		width: 1vw;
		height: 1vw;
	}
	.items .row .align{
		margin-top: 4.4vw;
	}
	.items .row .wurow{
		display: flex;
		width: 100%;
		margin-top: 1.2vw;
		margin-left: auto;
		margin-right: auto;
	}
	.items .row .wurow text{
		width: 86%;
		padding-left: 4%;
	}
	.items .row .wurow img{
		width: 10%;
		margin-top: 0;
		margin-bottom: auto;
	}

	.items .row .button{
		background: #6396F7;
		color: white;
		padding: 0.6vw 1.6vw;
		border-radius: 0.3vw;
		box-shadow: 0px 0.04vw 1.4vw rgba(0, 0, 0, 0.16);
		margin: auto;
		margin-bottom: 0;
		transition: 0.4s;
	}

	.items .row .button:hover{
		background: #4C87F7;
		color: white;
		padding: 0.6vw 1.6vw;
		border-radius: 0.3vw;
		box-shadow: 0px 0.04vw 1.4vw rgba(0, 0, 0, 0.2);
		margin: auto;
		margin-bottom: 0;
	}
	.reviews{
		min-width: 100vw;
		padding: 5vw 10vw;
		background: white;
		box-shadow: 0px 0px 12vw rgba(0, 0, 0, 0.08);
	}
	.reviews h2{
		width: 40%;
		padding-right: 60%;
		font-size: 2.8vw;
	}
	.reviews .row{
		width: 80vw;
		padding: 5vw 4vw;
		background: #FFFFFF;
		border: 0.05vw solid #D5D5D5;
		box-sizing: border-box;
		box-shadow: 0px 0px 2.5vw rgba(0, 0, 0, 0.08);
		border-radius: 0.22vw;
		margin-top: 3.2vw;
	}

	.reviews .row .header{
		width: 100%;
		height: 3vw;
	}
	.reviews .row .header .left{
		float: left;
		width: 20vw;
		display: flex;
	}
	.reviews .row .header .avatar{
		width: 3vw;
		height: 3vw;
		background: #DDDDDD;
		display: inline-block;
		border-radius: 100vw;
		background-size: cover;
		background-position: center;
	}
	.reviews .row .header .left .text{
		width: 17vw;
		padding-left: 1vw;
		height: 3vw;
		display: inline-flex;
		flex-wrap: wrap;
		font-size: 1.2vw;
	}
	.reviews .row .header .left .text b{
		font-weight: 500;
		display: block;
		width: 100%;
		font-size: 1.2vw;
	}

	.reviews .row .header .left .text .stars{
		font-weight: 500;
		display: block;
		width: 8.7vw;
		height: 1.4vw;
	}
	.reviews .row .header .right{
		width: 60vw;
		height: 3vw;
	}
	.reviews .row .header .right h2{
		display: block;
		width: 100%;
		height: 100%;
		text-align: center;
		align-items: center;
		font-size: 1.8vw;
	}
	.reviews .row .body{
		margin-top: 1.6vw;
		width: 100%;
	}
	.reviews .row .body text{
		display: block;
		width: 100%;
		text-align: left;
		color: #393939;
		font-weight: normal;
		font-size: 1.2vw;
	}
@media (max-width: 1000px){
	html,body{
		margin: 0;
		font-family: "Aeroport";
		overflow-x: hidden;
	}
	h1,h2,h3,h4,h5,div,p{
		margin: 0;
	}
	header{
		min-width: 80vw;
		height: 100vh;
		background: url("../images/background.jpg");
		background-size: cover;
		display: block;
	}

	header .left{
		display: inline-flex;
		float: left;
		width: 100%;
		height: 100vh;
		color: white;
	}

	.left .align{
		display: block;
		width: 100%;
		margin: auto;
	}

	header .left h1{
		color: white;
		font-size: 9.4vw;
	}

	header .left h2{
		color: white;
		font-weight: 400;
		font-size: 4vw;
		margin-top: 5vw;
	}

	header .left p{
		color: white;
		font-weight: 200;
		margin-top: 5vw;
		font-size: 4vw;
		opacity: 0.8;
	}

	header .left .footer{
		margin-top: 10vw;
	}

	header .left .footer .button{
		padding: 2.2vw 5vw;
		background: #1F1F1F;
		color: white;
		border-radius: 1.4vw;
		font-size: 4vw;
		font-weight: 300;
		box-shadow: 0px 0.05vw 1.5vw rgba(0, 0, 0, 0.46);
		float: left;
		transition: 0.4s;
	}

	header .left .footer .button:hover{
		background: #292929;
	}

	header .left .footer .socials{
		float: left;
		margin-left: 2.2vw;
	}

	header .left .footer .socials a{
		display: inline-flex;
		width: 10vw;
		height: 10vw;
		background: rgba(255, 255, 255, 0.03);
		box-shadow: 0px 0px 1.5vw rgba(64, 116, 221, 0.47);
		border-radius: 0.4vw;
		transition: 0.4s;
	}
	header .left .footer .socials img{
		width: 4vw;
		height: 4vw;
		margin: auto;
	}

	header .left .footer .socials a:hover{
		background: rgba(255, 255, 255, 0.16);
	}

	header .right{
		display: none;
		float: right;
		width: 37vw;
		height: 100vh;
	}

	.right .align{
		display: block;
		width: 100%;
		margin: auto;
	}

	.right iframe{
		width: 37vw;
		height: 22vw;
	}
	.right p{
		color: white;
		font-size: 1.2vw;
		font-weight: 300;
	}
	h1,h2,h3,h4,h5,p,text,a{
		margin: 0;
		text-decoration: none;
		color: rgba(15,15,15,1.00);
	}


	.whyus{
		width: 80vw;
		height: auto;
		background-size: cover;
		padding: 20vw 10vw;
	}

	.whyus h2{
		font-size: 7.2vw;
		margin-top: 8.8vw;
	}
	.whyus .content{
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.whyus .content .row{
		width: 100%;
		min-height: 22vw;
		height: auto;
		margin-top: 22.4vw;
	}
	.whyus .content .left{
		width: 20%;
		float: left;
	}

	.whyus .content .left b{
		font-size: 24.2vw;
		color: #7CA4F7;
		opacity: 0.3;
		align-content: flex-start;
	}

	.whyus .content .right h3{
		font-size: 4vw;
		color: #6396F7;
	}

	.whyus .content .right p{
		margin-top: 0.6vw;
		font-size: 4vw;
		color: #757575;
	}

	.whyus .content .right{
		width: 75%;
		padding-right: 5%;
		height: 100%;
		float: right;
		display: inline-flex;
	}
	.whyus .content .right .align{
		width: 100%;
		margin: auto;
	}



	.items{
		width: 100vw;
		height: 380vh;
		background-size: cover;
		display: flex;
		height: auto;
		flex-direction: column;
		padding: 10vw 0;
	}

	.items .row{
		width: 80vw;
		padding: 12vw 16vw;
		background: #FFFFFF;
		border: 0.4vw solid #B5CDFB;
		box-sizing: border-box;
		border-radius: 1vw;
		margin-left: auto;
		margin-right: auto;
		min-height: 140vw;
		display: flex;
		flex-direction: column;
		margin-top: 14vw;
	}

	.items .row h3{
		display: block;
		text-align: center;
		font-size: 7.2vw;
		width: 100%;
	}
	.items .row .price{
		display: block;
		width: 100%;
		text-align: center;
		font-size: 5.6vw;
		font-weight: 500;
		margin-top: 1vw;
	}
	.items .row .price .mini{
		font-size: 4.2vw;
	}
	.items .row .tag{
		margin-left: auto;
		margin-right: auto;
		padding: 0.5vw 0.6vw;
		text-align: center;
		font-size: 4.2vw;
		max-width: 20vw;
		color: #A3A3A3;
		align-items: center;
		background: rgba(20, 20, 20, 0.11);
		border-radius: 100vw;
		margin-top: 1vw;
	}
	.items .row .green-tag{
		min-width: 3vw;
		max-width: 8vw;
		margin-left: auto;
		margin-right: auto;
		padding: 0.5vw 0.6vw;
		text-align: center;
		color: #3C7A30;
		align-items: center;
		background: rgba(25,158,15,0.19);
		border-radius: 100vw;
		margin-top: 1vw;
	}
	.items .row .red-tag{
		min-width: 3vw;
		max-width: 5vw;
		margin-left: auto;
		margin-right: auto;
		padding: 0.5vw 0.6vw;
		text-align: center;
		color: #A3A3A3;
		align-items: center;
		background: rgba(20, 20, 20, 0.11);
		border-radius: 100vw;
		margin-top: 1vw;
	}
	.items .row .tag img{
		width: 3vw;
		height: 3vw;
	}
	.items .row .align{
		margin-top: 4.4vw;
	}
	.items .row .wurow{
		display: flex;
		width: 100%;
		margin-top: 4.2vw;
		margin-left: auto;
		margin-right: auto;
	}
	.items .row .wurow text{
		width: 86%;
		padding-left: 4%;
		font-size: 4vw;
	}
	.items .row .wurow img{
		width: 10%;
		margin-top: 0;
		margin-bottom: auto;
	}

	.items .row .button{
		background: #6396F7;
		color: white;
		padding: 2vw 3.6vw;
		border-radius: 2.3vw;
		box-shadow: 0px 0.04vw 3.4vw rgba(0, 0, 0, 0.16);
		margin: auto;
		margin-bottom: 0;
		transition: 0.4s;
		font-size: 4.2vw;
	}

	.items .row .button:hover{
		background: #4C87F7;
		color: white;
		padding: 0.6vw 1.6vw;
		border-radius: 0.3vw;
		box-shadow: 0px 0.04vw 1.4vw rgba(0, 0, 0, 0.2);
		margin: auto;
		margin-bottom: 0;
	}
	.reviews{
		width: 80vw;
		padding: 5vw 10vw;
		background: white;
		box-shadow: 0px 0px 12vw rgba(0, 0, 0, 0.08);
	}
	.reviews h2{
		width: 100%;
		padding-right: 60%;
		font-size: 4vw;
	}
	.reviews .row{
		width: 80vw;
		padding: 10vw 15vw;
		background: #FFFFFF;
		border: 0.05vw solid #D5D5D5;
		box-sizing: border-box;
		box-shadow: 0px 0px 2.5vw rgba(0, 0, 0, 0.08);
		border-radius: 0.22vw;
		margin-top: 3.2vw;
	}

	.reviews .row .header{
		width: 100%;
		height: 12vw;
	}
	.reviews .row .header .left{
		float: left;
		width: 80vw;
		display: flex;
	}
	.reviews .row .header .avatar{
		width: 9vw;
		height: 9vw;
		background: #DDDDDD;
		display: inline-block;
		border-radius: 100vw;
		background-size: cover;
		background-position: center;
	}
	.reviews .row .header .left .text{
		width: 30vw;
		padding-left: 5vw;
		height: 3vw;
		font-size: 4vw;
		display: inline-flex;
		flex-wrap: wrap;
	}
	.reviews .row .header .left .text b{
		font-weight: 500;
		display: block;
		width: 100%;
		font-size: 3vw;
	}

	.reviews .row .header .left .text .stars{
		font-weight: 500;
		display: block;
		width: 17vw;
		height: 3.4vw;
	}
	.reviews .row .header .right{
		width: 60vw;
		height: 3vw;
		display: none;
	}
	.reviews .row .header .right h2{
		display: block;
		width: 100%;
		height: 100%;
		text-align: center;
		align-items: center;
		font-size: 1.8vw;
	}
	.reviews .row .body{
		margin-top: 1.6vw;
		width: 100%;
	}
	.reviews .row .body text{
		display: block;
		width: 100%;
		text-align: left;
		color: #393939;
		font-weight: normal;
		font-size: 3.2vw;
	}
}
