body{
	overflow-x: hidden;
	margin: 0;
	font-family: 'Rubik', sans-serif;
}
header{
	width: 100vw;
	height: 100vh;
	flex-direction: column;
}
header #black{
	width: 70vw;
	height: 100vh;
	display: inline-flex;
	background: #1A1A1A;
	float: left;
}
header #white{
	width: 30vw;
	height: 100vh;
	display: inline-flex;
	background: #F2F2F2;
	float: right;
}
#black h1{
	width: 35vw;
	margin: auto;
	font-size: 3vw;
	font-weight: 500;
	font-style: normal;
	line-height: 3.3vw;
	color: #FFFFFF;
}
#black h1 #top-text{
	display: block;
	width: 100%;
	color: #636363;
	font-weight: 400;
	font-size: 1.5vw;
}
#black h1 .us{
	width: 100%;
	height: 12.34vw;
}
#black h1 .us .row{
	width: 16.6vw;
	height: 5.7vw;
	display: inline-block;
}
.row-icon{
	display: inline-flex;
	width: 2.8vw;
	float: left;
	height: 5.7vw;
}
.row-icon img{
	margin-top: auto;
	margin-bottom: 0.4vw;
	width: 1.5vw;
	height: 1.5vw;
	padding: 0.35vw;
	border-radius: 5px;
	background-color: #FD686A;
	float: left;
}
.row-text{
	display: inline-flex;
	width: 13.5vw;
	float: right;
	height: 5.7vw;
}
.row-text h5{
	font-size: 1.1vw;
	margin-left: auto;
	margin-right: auto;
	martin-top: 0;
	margin-bottom: auto;
	font-weight: 500;
}
.row-text h5 p{
	position: relative;
	top: -1.5vw;
	line-height: 0.9vw;
	font-size: 0.95vw;
	font-weight: 400;
	color: #636363;
}
.section-right{
	width: 100vw;
	height: 100vh;
	margin: 0;
}
.section-right .left{
	float: left;
	background: #F2F2F2;
	width: 29.5vw;
	height: 100vh;
	display: inline-flex;
}
.section-right .right{
	display: inline-flex;
	flex-direction: column;
	float: right;
	background-color: #1A1A1A;
	width: 70.5vw;
	height: 100vh;
}
.section-right .right .text{
	margin: auto;
	display: block;
	width: 29vw;
	font-size: 2.7vw;
	font-weight: 500;
	color: #C9C9C9;
}
.section-right .headtext{
	width: 100%;
	height: 20px;
}
.section-right .headtext .graytext{
	color: #636363;
	overflow-y: hidden;
}
.graytext img{
	height: 70%;
	margin-top: 15%;
	martin-bottom: 15%;
}
.text .system{
	color: #FD686A;
	font-size: 1.3vw;
	font-weight: 400;
}
.text .description{
	color: #636363;
	font-size: 1.3vw;
	font-weight: 400;
}
.text button{
	width: 14vw;
	height: 4.2vw;
	display: flex;
    align-items: center;
    justify-content: center;
	background: none;
	flex-direction: row;
	align-items: center;
	border: 0.1vw solid #FD686A;
	font-size: 1.35vw;
	font-weight: 300;
	border-radius: 3.3vw;
	text-align: center;
	background:url(images/windows.svg) repeat-x;
	color: #FD686A;
	line-height: 1.67vw;
	transition: 0.4s;
}
.text button .display{
	display: block;
	padding-right: 15px;
	width: 1.46vw;
}
.text button .no-display{
	display: none;
	padding-right: 15px;
	width: 1.46vw;
}
#hover-red:hover{
	color: white;
	background: #FD686A;
}
#hover-red:hover .no-display{
	fill: #FFFFFF;
	color: white;
	display: block;
}
#hover-red:hover .display{
	fill: #FFFFFF;
	color: white;
	display: none;
}



.section-left{
	width: 100vw;
	height: 100vh;
	margin: 0;
}
.section-left .right{
	float: right;
	background: #F2F2F2;
	width: 29.5vw;
	height: 100vh;
	display: inline-flex;
}
.section-left .left{
	display: inline-flex;
	flex-direction: column;
	float: left;
	background-color: #1A1A1A;
	width: 70.5vw;
	height: 100vh;
}
.section-left .left .text{
	margin: auto;
	display: block;
	width: 29vw;
	font-size: 2.7vw;
	font-weight: 500;
	color: #C9C9C9;
}
.section-left .headtext{
	width: 100%;
	height: 20px;
}
.section-left .headtext .graytext{
	color: #636363;
	overflow-y: hidden;
}
.right-image{
	width: 31.2vw;
	height: 31.2vw;
	margin: auto;
	left: -15vw;
	position: relative;
	font-size: 30%;
}
.left-image{
	width: 31.2vw;
	height: 31.2vw;
	margin: auto;
	right: -15vw;
	position: relative;
	font-size: 30%;
}
.left-image img{
	width: 30vw;
	height: 30vw;
	margin: auto;
	position: relative;
	font-size: 30%;
}
.right-image img{
	width: 30vw;
	height: 30vw;
	margin: auto;
	position: relative;
	font-size: 30%;
}
.main-image{
	width: 31.2vw;
	height: 31.2vw;
	margin: auto;
	left: -15vw;
	position: relative;
	font-size: 30%;
}
