
body{
	margin: 0;
	background: #1E1E1E;
	color: whitesmoke;
	font-family: 'PT Sans Narrow', sans-serif;
}
.load-div{
	width: 100vw;
	height: 100vh;
	position: fixed;
	background: #000000;
	display: table;
	z-index: 100;
}
.load-div .align{
	display: table-cell;
	z-index: 101;
	vertical-align: middle;
	
}

header{
	width: 100vw;
	height: 100vh;
	background-image: url(../images/background.png);
	background-size: cover;
	background-attachment: fixed;
	display: block;
}
header #main{
	display: table;
	width: 100%;
	height: 100vh;
}
header #main #right{
	width: 39.8%;
	float: right;
	height: 100vh;
	display: inline-table;
}
header #main #left{
	width: 60%;
	float: left;
	height: 100vh;
	display: inline-table;
}
header #main #right .align{
	display: table-cell;
	width: 100%;
	height: auto;
	vertical-align: middle;
}

#main-text{
	width: 100%;
	text-align: center;
	font-size: 230%;
}
#main-text b{
	color: #EC9F0F;
}
#submain-text{
	width: 60%;
	padding-left: 20%;
	padding-right: 20%;
	text-align: center;
	margin-top: -20px;
}
#left .align{
	width: 100%;
	height: auto;
	display: table-cell;
	vertical-align: middle;
}
.images {
    width: 80%;
    float: left;
    margin-left: 10%;
}
.images img {
    float: left;
    width: 33%;
    filter: drop-shadow(0px 5px 10px black) opacity(80%) hue-rotate(20deg);
    transition: 0.3s;
}
#social-icons{
	max-width: 50%;
	padding-left: 25%;
	padding-right: 25%;
	height: auto;
	float: left;
	display: flex;
}
#social-icons li{
	display: inline-block;
	text-decoration: none;
	margin: auto;
	width: 65px;
	height: 65px;
}
#social-icons li i{
	font-size: 26px;
	color: white;
}
#copy-ip{
	width: 30%;
	margin-left: 35%;
	margin-right: 35%;
	margin-top: 20px;
	background: none;
	color: white;
	border: 1.7px #EC9F0F solid;
	padding-top: 8px;
	padding-bottom: 8px;
	border-radius: 2px;
}
#store{
	width: 100vw;
	height: 100vh;
	background-image: url(../images/background_store.png);
	background-size: cover;

}
#store-title{
	padding-left: 13vw;
	text-align: left;
	color: #EC9F0F;
	padding-top: 7vh;
	margin-top: 0;
}
#store #left{
	padding-bottom: 30vh;
	width: 60%;
	display: table;
	float: left;
}
#store #left .align{
	height: auto;
	width: 100%;
	display: table-cell;
	vertical-align: middle;
}
#left form{
	display: block;
	width: 60%;
	padding-left: 20%;
	padding-right: 20%;
	margin-top: 15%;
}
#store #right{
	padding-bottom: 30vh;
	width: 40%;
	display: table;
	float: right;
}
#store #right .align{
	height: auto;
	width: 100%;
	display: table-cell;
	vertical-align: middle;
}
#left .align{
	height: auto;
	width: 100%;
	display: table-cell;
	vertical-align: middle;
}
#payment-form .store_tip{
	width: 100%;
	height: auto;
	color: #EC9F0F;
}
#payment-form input{
	width: 70%;
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 10px;
	padding-bottom: 10px;
	height: auto;
	margin-top: 3px;
	background: whitesmoke;
	border: none;
	border: #1A1A1A 0.5px solid;
	color: #2B2B2B;
}
#payment-form input::-moz-placeholder { color: #2B2B2B; }
#payment-form input::-webkit-input-placeholder  { color: #2B2B2B; }
#payment-form select{
	width: 70%;
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 10px;
	padding-bottom: 10px;
	height: auto;
	margin-top: 3px;
	background: whitesmoke;
	border: none;
	color: #2B2B2B;
}
#payment-form #ok{
	background: none;
	color: #EC9F0F;
	border: 2px #EC9F0F solid;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 2.5%;
	padding-right: 2.5%;
	transition: 0.5s;
}
#payment-form #ok:hover{
	background: none;
	color: #F1B648;
	border: 2px #F1B648 solid;
}
#payment-banner{
	height: 200px;
}
.store-window{
	display: block;
	width: 100vw;
	height: 100vh;
	position: fixed;
	background: rgba(21,21,21,0.96);
	z-index: 99;
	
}
.onstore-button{
	width: 50%;
	margin-left: 12%;
	border: #D5D5D5 2px solid;
	color: #D0D0D0;
}
.store-window-button{
	background: none;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 7px;
	padding-bottom: 7px;	
}
.store-window #text{
	width: 60%;
	padding-left: 20%;
	padding-right: 20%;
	height: auto;
}
#mobile-store-button{
	display: none;
}
#text h1{
	color: whitesmoke;
}
#text h4{
	color: #F18C1A;
}
#text a{
	text-decoration: none;
	color: #60CC1C;
}
.onwindow-button{
	display: block;
	margin-left: 1px;
	margin-right: auto;
	border: #D15F61 2px solid;
	color: #D15F61;
}
#rules{
	margin-top: -2.3vh;
	width: 100vw;
	min-height: 90vh;
	height: auto;
	padding-bottom: 10vh;
	background-image: url(../images/background_rules.png);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
#rules-text{
	width: 70%;
	padding-left: 15%;
	padding-right: 15%;
	font-size: 1.3vw;
}
#rules-text p{
	background-color: rgba(26,26,26,0.49);
}
#rules-text b{
	color: #F18C1A;
}
#rules-text i{
	color: #D15F61;
}
nav{
	width: 100%;
	height: 70px;
	background: rgba(31,31,31,0.15);
	position: fixed;
	display: block;
	z-index: 98;
}
nav ul{
	width: 50%;
	height: 70px;
	display: inline-block;
	margin-top: 0;
}
nav ul li{
	height: 70px;
	min-width: 10%;
	padding-left: 2%;
	padding-right: 2%;
	text-decoration: none;
	display: inline-table;
}
nav ul li text{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 100%;
}
.navs{
	width: 100%;
	height: 70px;
	background: rgba(31,31,31,0.15);
	position: fixed;
	display: table;
	z-index: 98;
}
.navs h1{
	display: table-cell;
	width: 100%;
	vertical-align: middle;
	text-align: center;
}
.navs h1 b{
	color: #F18C1A;
}
#mobile-nav{
	display: none;
}
